#!/bin/sh

#check npg_agent port if already used
exist=`ss -plnt | grep -E '19999|9100' | wc -l`
if [ $exist -ne 0 ]; then
  echo "port 19999|9100 have one or two in used !"
  exit 1
fi

#check linux kernel version
KERNEL_VERSION=`uname -r | awk -F- '{print $1}'`
MEET_VERSION=3.10.0

# V1 >= V2
function version_ge()
{
   test "$(echo "$@" | tr " " "\n" | sort -rV | head -n 1)" == "$1"; 
}
# V1 < V2
function version_lt() 
{ 
   test "$(echo "$@" | tr " " "\n" | sort -rV | head -n 1)" != "$1"; 
}

if version_ge $KERNEL_VERSION $MEET_VERSION; then
   echo "$KERNEL_VERSION >= $MEET_VERSION"
   echo "install npg agent with docker ways"
   curl http://{{ hostvars[groups['npg-master'][0]].ip }}:8888/install_monitor_docker.sh|bash
fi

if version_lt $KERNEL_VERSION $MEET_VERSION; then
   echo "$KERNEL_VERSION < $MEET_VERSION"
   echo "install npg agent with binary ways"
   curl http://{{ hostvars[groups['npg-master'][0]].ip }}:8888/install_monitor_binary.sh|bash
fi
