<!doctype html>
<html>
<head>
<meta charset='UTF-8'><meta name='viewport' content='width=device-width initial-scale=1'>
<title>index</title>
</head>
<body >
	  <iframe style="margin-left:-83px" src="http://{{ hostvars[groups['npg-master'][0]].ip }}:3000/d/netdata-host/netdata-host?orgId=1&theme=light" width="100%" height="1200" frameborder="0"></iframe>
</body>
</html>
